*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}

#blocks{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#blocks div{
    flex: 0 0 100px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}

.one{order: 2;}
.two{order: 3;}
.three{order: 1;}
.four{order: 5;}




.box{
    height: 100px;
    flex: 0 0 100px;
}

.one{
    background: blue;
    text-align: center;
     

}

.two{
    background: red;
    text-align: center;

    

}

.three{
    background: green;
    text-align: center;


}

.four{
    background-color: aqua;
    text-align: center;

}